
.logo-container {
    margin-bottom: 20px;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

.logo img {
    filter: drop-shadow(0 0 5px var(--logo-bg-color));
    animation: pulse 2s infinite;
    transition: transform 0.3s ease, filter 0.3s ease;
}




@media (max-width: 767.98px) {}